{% extends 'base.html.twig' %}

{% block title %}Edit Mairie{% endblock %}

{% block body %}
    <h1>Edit Mairie</h1>

    {{ include('mairie/_form.html.twig', {'button_label': 'Update'}) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('mairie/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('mairie_index') }}" class="btn-flat">Retour</a>


{% endblock %}
