{% extends 'base.html.twig' %}

{% block title %}Mairie index{% endblock %}

{% block body %}
    <h1>Mairie index</h1>

    <table class="table striped">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Candidats</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mairie in mairies %}
            <tr>
                <td>{{ mairie.ville }}</td>
                <td>{{ mairie.politiciens|length }}</td>
                <td>
                    <a href="{{ path('mairie_show', {'id': mairie.id}) }}"><i class="material-icons">remove_red_eye</i></a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
                        <a href="{{ path('mairie_edit', {'id': mairie.id}) }}"><i class="material-icons">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mairie_new') }}" class="btn">Ajouter</a>
{% endblock %}
