{% extends 'base.html.twig' %}

{% block title %}New Mairie{% endblock %}

{% block body %}
    <h1>Create new Mairie</h1>

    {{ include('mairie/_form.html.twig') }}

    <a href="{{ path('mairie_index') }}" class="btn-flat">Retour</a>
{% endblock %}
