{% extends 'base.html.twig' %}

{% block title %}Mairie{% endblock %}

{% block body %}
    <h1>Mairie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ville</th>
                <td>{{ mairie.ville }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Candidats à la mairie</h3>
    {% include 'listeInterne.html.twig' with {'deletePath' : "removePoliticienFromMairie", "deleteFrom" : mairie} %}


    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
        <a href="{{ path('mairie_edit', {'id': mairie.id}) }}" class="btn">edit</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('mairie/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('mairie_index') }}" class="btn-flat">Retour</a>

{% endblock %}

{% block javascripts %}
    {% if erreur is defined %}
        <script>
            M.toast({html: "{{erreur}}"})
        </script>
    {% endif %}
{% endblock %}