{% extends 'base.html.twig' %}

{% block title %}Edit Affaire{% endblock %}

{% block body %}
    <h1>Edit Affaire</h1>

    {{ include('affaire/_form.html.twig', {'button_label': 'Update'}) }}


    {% if is_granted('ROLE_ADMIN') %}
        {{ include('affaire/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('affaire_index') }}" class="btn-flat">Retour</a>


{% endblock %}