{% extends 'base.html.twig' %}

{% block title %}Affaire index{% endblock %}

{% block body %}
    <h2>Affaire index</h2>

    <table class="table striped">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Politiciens impliqués</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for affaire in affaires %}
            <tr>
                <td>{{ affaire.designation }}</td>
                <td>{{ affaire.politiciens|length }}</td>
                <td>
                    <a href="{{ path('affaire_show', {'id': affaire.id}) }}"><i class="material-icons">remove_red_eye</i></a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
                        <a href="{{ path('affaire_edit', {'id': affaire.id}) }}"><i class="material-icons">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('affaire_new') }}" class="btn">Ajouter</a>
{% endblock %}
