{% extends 'base.html.twig' %}

{% block title %}New Affaire{% endblock %}

{% block body %}
    <h1>Create new Affaire</h1>

    {{ include('affaire/_form.html.twig') }}

    <a href="{{ path('affaire_index') }}" class="btn-flat">Retour</a>

{% endblock %}
