{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
    <h1>Affaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Designation</th>
                <td>{{ affaire.designation }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Politiciens liés à l'affaires</h3>
    {% include 'listeInterne.html.twig' with {'deletePath' : "removePoliticienFromAffaire", "deleteFrom" : affaire} %}


    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
        <a href="{{ path('affaire_edit', {'id': affaire.id}) }}" class="btn">edit</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('affaire/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('affaire_index') }}" class="btn-flat">Retour</a>



{% endblock %}

{% block javascripts %}
    {% if erreur is defined %}
        <script>
            M.toast({html: "{{erreur}}"})
        </script>
    {% endif %}
{% endblock %}