<form method="post" action="{{ path('parti_delete', {'id': parti.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parti.id) }}">
    <button class="btn red">Delete</button>
</form>
