{% extends 'base.html.twig' %}

{% block title %}Edit Parti{% endblock %}

{% block body %}
    <h1>Edit Parti</h1>

    {{ include('parti/_form.html.twig', {'button_label': 'Update'}) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('parti/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('parti_index') }}" class="btn-flat">Retour</a>


{% endblock %}
