{% extends 'base.html.twig' %}

{% block title %}Parti index{% endblock %}

{% block body %}
    <h1>Parti index</h1>

    <table class="table striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parti in partis %}
            <tr>
                <td>{{ parti.nom }}</td>
                <td>
                    <a href="{{ path('parti_show', {'id': parti.id}) }}"><i class="material-icons">remove_red_eye</i></a>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
                        <a href="{{ path('parti_edit', {'id': parti.id}) }}"><i class="material-icons">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parti_new') }}" class="btn">Ajouter</a>
{% endblock %}
