{% extends 'base.html.twig' %}

{% block title %}New Parti{% endblock %}

{% block body %}
    <h1>Create new Parti</h1>

    {{ include('parti/_form.html.twig') }}

    <a href="{{ path('parti_index') }}" class="btn-flat">Retour</a>

{% endblock %}
