{% extends 'base.html.twig' %}

{% block title %}Parti{% endblock %}

{% block body %}
    <h1>Parti</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ parti.nom }}</td>
            </tr>
            <tr>
                <th>Age moyen</th>
                <td>{{ (parti.ageMoyen == -1 ) ? '-' : parti.ageMoyen }}</td>
            </tr>
            <tr>
                <th>% Femme</th>
                <td>{{ (parti.Parite == -1 ) ? '-' : 100-parti-Parite }}</td>
            </tr>
            <tr>
                <th>% Homme</th>
                <td>{{ (parti.Parite == -1 ) ? '-' : parti-Parite }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Membres du parti</h3>
    {% include 'listeInterne.html.twig' with {'deletePath' : "removePoliticienFromParti", "deleteFrom" : parti} %}




    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
        <a href="{{ path('parti_edit', {'id': parti.id}) }}" class="btn">edit</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('parti/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('parti_index') }}" class="btn-flat">Retour</a>
{% endblock %}

{% block javascripts %}
    {% if erreur is defined %}
        <script>
            M.toast({html: "{{erreur}}"})
        </script>
    {% endif %}
{% endblock %}