{% extends 'base.html.twig' %}

{% block title %}Modifier Politicien{% endblock %}

{% block body %}
    <h1>Edit {{ politicien.nom }}</h1>

    {{ include('politicien/_form.html.twig', {'button_label': 'Update'}) }}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('politicien/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('politicien_index') }}" class="btn-flat">Retour</a>
{% endblock %}
