{% extends 'base.html.twig' %}

{% block title %}Politicien index{% endblock %}

{% block body %}
    <h1>Politicien index</h1>

    <table class="table striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>Parti</th>
                <th>Candidate à</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for politicien in politiciens %}
            <tr>
                <td>{{ politicien.nom }}</td>
                <td>{{ politicien.sexe }}</td>
                <td>{{ politicien.age }}</td>
                {% if politicien.parti is not empty %}
                    <td>{{ politicien.parti.nom }}</td>
                {% else %}
                    <td>Aucun</td>
                {% endif %}
                {% if politicien.mairie is not empty %}
                    <td>{{ politicien.mairie.ville }}</td>
                {% else %}
                    <td>Aucun</td>
                {% endif %}
                <td>
                    <a href="{{ path('politicien_show', {'id': politicien.id}) }}"><i class="material-icons">remove_red_eye</i></a>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
                        <a href="{{ path('politicien_edit', {'id': politicien.id}) }}"><i class="material-icons">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune entrée !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('politicien_new') }}" class="btn">Ajouter</a>
{% endblock %}
