{% extends 'base.html.twig' %}

{% block title %}Politicien{% endblock %}

{% block body %}
    <h1>Politicien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ politicien.nom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ politicien.sexe }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ politicien.age }}</td>
            </tr>
            <tr>
                <th>Parti</th>
                {% if politicien.parti is not empty %}
                    <td>{{ politicien.parti.nom }}</td>
                {% else %}
                    <td>Aucun</td>
                {% endif %}
            </tr>
            <tr>
                <th>Mairie</th>
                {% if politicien.mairie is not empty %}
                    <td>{{ politicien.mairie.ville }}</td>
                {% else %}
                    <td>Aucun</td>
                {% endif %}
            </tr>
        </tbody>
    </table>



    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE')%}
        <a href="{{ path('politicien_edit', {'id': politicien.id}) }}" class="btn">edit</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('politicien/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('politicien_index') }}" class="btn-flat">Retour</a>
{% endblock %}
