<!DOCTYPE html>
<html lang="FR-fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
    </head>
    <body>
    {% include 'menu.html.twig' %}
        <div class="container row">
            <div class="card col s10 row">
                <div class="card-content flow-text">

                    <form action="{{ path("search_result") }}" method="get" name="form" class="right">
                        <div class="input-field ">
                            <input type="text" name="search"/>
                            <label for="last_name">Recherche</label>
                        </div>
                    </form>

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>



        {% block javascripts %}

        {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    </body>
</html>
