<ul>
    {% if politiciens is empty %}
        <li>Aucun politicien disponible</li>
    {% endif %}
    {% for politicien in politiciens %}
        <li><a href="{{ path("politicien_show", {"id": politicien.id}) }}">{{ politicien.nom }}</a>
            -- <a href="{{ path(deletePath, {"id": deleteFrom.id, "politicien": politicien.id}) }}">Retirer de la liste</a></li>
    {% endfor %}
</ul>