    <nav>
        <div class="nav-wrapper">
            <span class="brand-logo right">
                {%  if app.user %}
                    Vous êtes connecté en tant que {{ app.user.username }} - <a href="{{ path("app_logout") }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ path("app_login") }}">Se connecter</a>  --  <a href="{{ path("app_register") }}">Créer un compte</a>
                {% endif %}
            </span>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="{{ path("index") }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path("mairie_index") }}">Gérer les Mairie</a>
                </li>
                <li>
                    <a href="{{ path("parti_index") }}">Gérer les Partis</a>
                </li>
                <li>
                    <a href="{{ path("politicien_index") }}">Gérer les Politiciens</a>
                </li>
                <li>
                    <a href="{{ path("affaire_index") }}">Gérer les Affaires</a>
                </li>
            </ul>
        </div>
    </nav>
